bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
*.DotSettings.user
Mindflow-backend/appsettings.Development.json
Mindflow-backend/docs/client_secret_*.json
Mindflow-backend/docs/*firebase-adminsdk*.json